#container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#frame{
    padding: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: slategrey;
    width: 18em;
    height: 36em;
    flex-wrap: wrap;
}

#screen {
    background-color: lightyellow;
    width: 16em;
    height: 60px;
    margin-bottom: 1em;
    color: black;
    font-size: 42px;
}

.numberinos{
    padding: 0.5em;
    color: darkslategray;
    font-size: 3em;
    background-color: lightgoldenrodyellow;
    border: solid slategrey 1px;
    border-radius: 5px;
    margin-bottom: 0.25em;
}

button:hover{
    cursor: pointer;
}

#plus{
    padding: 29px;
    font-size: 20px;
    background-color: aliceblue;
}


#minus{
    padding: 29px;
    font-size: 20px;
    background-color: aliceblue;
}


#times{
    padding: 29px;
    font-size: 20px;
    background-color: aliceblue;
}


#division{
    padding: 29px;
    font-size: 20px;
    background-color: aliceblue;
}

